/.vs
.vs/HerdingDog/FileContentIndex/8acc00b3-ef91-41d4-aeba-cd3639430d18.vsidx
.vs/HerdingDog/FileContentIndex/8acc00b3-ef91-41d4-aeba-cd3639430d18.vsidx
.vs/HerdingDog/v18/DocumentLayout.backup.json
.vs/HerdingDog/v18/DocumentLayout.json
