/.vs
.vs/HerdingDog/FileContentIndex/8acc00b3-ef91-41d4-aeba-cd3639430d18.vsidx
.vs/HerdingDog/FileContentIndex/8acc00b3-ef91-41d4-aeba-cd3639430d18.vsidx
.vs/HerdingDog/v18/DocumentLayout.backup.json
.vs/HerdingDog/v18/DocumentLayout.json
/.vs
.vs/HerdingDog/CopilotIndices/18.0.981.45449/CodeChunks.db
.vs/HerdingDog/CopilotIndices/18.0.981.45449/SemanticSymbols.db
.vs/HerdingDog/v18/.suo
.vs/HerdingDog/v18/DocumentLayout.backup.json
.vs/HerdingDog/v18/DocumentLayout.json
